@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Reenie+Beanie&display=swap');

*, *:before, *:after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* -----SCROLLBAR------ */
html::-webkit-scrollbar {
  width: 1.1vw;
}
html::-webkit-scrollbar-thumb {
  background-color : #D8D060;
  box-shadow: rgba(79, 55, 17, 0.5) 0 1px 4px 0 inset, rgba(79, 55, 17, 0.5) 0 2px 3px 0;
  /* border: 1px solid #88601E; */
  border-radius:50px;
}
html::-webkit-scrollbar-track{
  background-color : #F0DAD5;
  /* border-radius:50px; */
}

/* -----NAVBAR------ */
.navbar{
  display: flex;
  padding: 1%;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
  background-color: #D8D060;
  font-size: clamp(14px, 2.2vw, 2.4rem);
  font-family: 'Reenie Beanie';  
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.title-nav{
  font-size: 1.5em;
  font-family: 'Reenie Beanie';
  font-weight: 500;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #4F3711;
}

.nav-menu:hover{
  animation:nav-menu .3s forwards
}
@keyframes nav-menu {
  100%{
   transform: scale(1.2);
  }
}

/* -----SLIDESHOW----- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
  border-radius: 0 0 10px 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

.image-slide{
  border-radius: 0 0 10px 10px;
  width: 100%

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #D8D060;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #D8D060;
  color: #4F3711;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  bottom: 30px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #F0DAD5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #D8D060;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

/* -----MAIN CONTAINER----- */
.main-container{
  /* background-color: aqua; */
  display: flex;
  max-width: 80%;
  margin-top: 3rem;
  margin-left: 10%;
  /* justify-content: center; */
  border-radius: 1px;
}
.description{
  /* background-color: #4F3711; */
  font-family: 'News Cycle';
  width: 40%;
}
p{
  font-size: 1.5rem;
  margin-top: 2rem;
  /* padding-right: 2rem; */
  /* background-color: #D8D060; */
}
.photo{
  /* background-color: brown; */
  /* margin-left: 2rem;
  max-width: 20rem; */
  width: 60%;
  display: flex;
  object-fit: cover;
  justify-content: end;
}
img{
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
}

/* --------Footer------- */
footer{
	background: #4F3711;
	box-sizing: border-box;
  border-radius: 10px 10px 0 0;
	width: 80%;
  display: flex;
  margin-left: 11.5rem;
  margin-top: 8rem;
	text-align: left;
	padding: 2rem 3rem;
  font-family: 'News Cycle';
  color: #c5ad89
}
.footer-left{
  width: 40%;

}
.logo-name{
  font-size: 4em;
  font-family: 'Reenie Beanie';
  font-weight: 500;
  color: #D8D060;
}

/* Footer links */

.footer-links{
	color: #b49e7c;
	margin: 0;
	padding: 0;
  font-size: 1.5rem;
}
.footer-links a{
	display:inline-block;
	line-height: 2rem;
  color: #c5ad89;
}

.footer-company-name{
	color:  #D8D060;
	font-size: 1rem;
	margin-top: 1rem;
}

/* Footer Center */
.footer-center{
	width: 35%;
}
.footer-center i{
	background-color:  #D8D060;
	color: #4F3711;
	font-size: 20px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-center p{
	display: inline-block;
	color: #c5ad89;
  font-weight:400;
	vertical-align: middle;
  margin: 0;
  font-size: 1.5rem;
}
.footer-center p span{
	display:block;
	font-size: 1rem;
	line-height: 5px;
}

.footer-center p a{
	color:  #c5ad89;
	text-decoration: none;;
}

.footer-links a:before {
  content: "|";
  font-weight:500;
  font-size: 25px;
  margin-right: .2rem;
  margin-left: .2rem;
  color: #D8D060;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-right{
	width: 20%;
}
.footer-company-about{
	line-height: 1.3rem;
	color:  #c5ad89;
	font-size: 1.2rem;
	margin: 0;
}
.footer-company-about span{
	display: block;
	color:  #c5ad89;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.footer-icons{
	margin-top: 25px;
}
.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #342309;
	border-radius: 2px;

	font-size: 20px;
	color: #D8D060;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}